* {
    box-sizing: border-box;
}

:root {
    --color-primary-100: rgb(80, 80, 80);
    --color-primary-200: rgb(65, 65, 65);
    --color-primary-300: rgb(55, 55, 55);
    --color-primary-400: rgb(45, 45, 45);
    --color-primary-500: rgb(38, 38, 38);
    --color-primary-600: rgb(30, 30, 30);
    --color-primary-700: rgb(20, 20, 20);
    --color-primary-800: rgb(10, 10, 10);
    --color-primary-900: rgb(5, 5, 5);

    --color-border: rgb(63, 63, 63);
    --color-border-light: rgb(160, 160, 160);
    --color-accent: rgb(148, 87, 192);
    --color-error: rgb(187, 45, 45);
    --color-error-action: rgb(158, 30, 30);
    --color-text: rgb(231, 231, 231);
    --color-text-dark: rgb(15, 15, 15);
    --color-icon-hover: rgba(201, 201, 240, 0.3);
    --color-icon-focus: rgba(142, 142, 202, 0.3);
    --color-icon-outline: rgba(142, 142, 202, 0.3);

    --font-ui: 'Segoe UI';

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    --size-icon-tiny: 1rem;
    --size-icon-small: 1.5rem;
    --size-icon-medium: 2rem;
    --size-icon-large: 3rem;

    --taskbar-height: 40px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    font-family: var(--font-ui);
    font-size: 11px;
}
