@use "../../styles/mixins" as globals;

.taskbar {
    height: 50px;

    display: flex;

    background-color: var(--color-primary);

    .startMenu {
        &:hover {
            background-color: var(--color-secondary);
        }
        &:hover .logo {
            color: var(--color-accent);
        }

        .logo {
            height: 100%;
            aspect-ratio: 1/1;

            @include globals.center;

            color: white;

            svg {
                width: var(--size-icon-medium);
                height: auto;
            }
        }
    }
}
