.browserContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .actionBar {
        height: 40px;
        padding: 0 var(--spacing-small);

        display: flex;
        align-items: center;
        gap: var(--spacing-small);

        background-color: rgb(61, 61, 61);

        button {
            height: 80%;
            aspect-ratio: 1/1;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;
            transition: 0.2s;

            svg {
                height: 100%;
                width: 12.5px;

                color: white;
            }

            &:last-of-type svg {
                width: 18px;
            }

            &:disabled svg {
                color: rgb(114, 114, 114);
            }
            &:not(:disabled):hover {
                background-color: rgb(82, 82, 82);
            }
        }

        input {
            flex: 1;
            height: 30px;
            margin-right: var(--spacing-medium);
            padding: 4px var(--spacing-medium);

            background-color: rgb(41, 41, 41);
            border: none;
            border-radius: 2rem;

            color: white;
            font-size: 1.2em;

            transition: background-color 0.2s ease-out;

            &:hover {
                background-color: rgb(82, 82, 82);
            }

            &:focus {
                outline: 2px solid rgb(195, 195, 235);
            }
        }
    }

    .bookmarksBar {
        height: 35px;

        display: flex;
        align-items: center;
        gap: var(--spacing-small);

        background-color: rgb(61, 61, 61);

        .bookmark {
            width: max-content;
            padding: 3px 6px;
            margin-bottom: 6px;

            display: flex;
            align-items: center;
            gap: 4px;

            border-radius: 16px;

            transition: background-color 0.2s ease-out;

            &:hover {
                background-color: rgb(82, 82, 82);
            }

            svg {
                width: var(--size-icon-small);
                height: var(--size-icon-small);

                pointer-events: none;
            }

            span {
                color: white;
                font-size: 14px;

                user-select: none;
                pointer-events: none;
            }
        }
    }

    .content {
        flex: 1;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;

            border: none;
        }
    }
}
