.actionsModal {
    position: absolute;
    width: 200px;
    padding: 4px 3px;

    display: flex;
    flex-direction: column;

    background-color: var(--color-secondary);
    border: 1px solid var(--color-border-light);

    z-index: 2;
    opacity: 0;

    animation: appear 0.2s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.subActionsModal {
    right: 5px;
    top: -5px;
    transform: translateX(100%);
    z-index: 3;
}

.action {
    position: relative;
    padding: 3px 0;

    display: flex;
    color: white;

    &:hover {
        background-color: var(--color-secondary-action);
    }

    .iconContainer {
        width: 16px;
        height: 16px;
    }

    button {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;

        svg {
            margin-right: 0.5rem;
        }
    }
}

.lowerHalfModal {
    transform: translateY(100%) !important;
}
