.window {
    position: absolute;
    background-color: var(--color-secondary);
}

.bar {
    height: 30px;

    display: flex;
    align-items: center;

    background-color: var(--color-primary);
    color: var(--color-text);

    user-select: none;
}

.actions {
    height: 100%;
    margin-left: auto;

    display: flex;
    align-items: center;

    button {
        height: 100%;
        width: 50px;
        flex: 1;
        color: var(--color-text);


        &:hover {
            background-color: var(--color-secondary);
        }

        &:active:hover {
            background-color: var(--color-secondary-action);
        }

        svg {
            width: 100%;
        }
    }
    .close {
        &:hover {
            background-color: var(--color-error);
        }
        &:active:hover {
            background-color: var(--color-error-action);
        }
    }
}

