.notepadContainer {
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;

    .actions {
        position: relative;
        display: flex;
        align-items: center;

        border-bottom: 2px solid rgb(238, 238, 238);
        font-size: 13px;

        .action {
            margin-top: 1px;
            height: 100%;
            position: relative;

            span {
                height: 100%;
                user-select: none;

                line-height: 1.4;

                padding: 0 0.5rem;
                color: var(--color-text-dark);

                &:hover {
                    background-color: rgba(205, 237, 255, 0.675);
                    outline: 1px solid rgba(140, 206, 245, 0.675);
                }

                &:first-letter {
                    text-decoration: underline;
                }
            }
        }
        .dropdown {
            padding: 2px;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgb(240, 240, 240);
            border: 1px solid #ccc;
            box-shadow: rgb(131, 131, 131) 2px 2px 2px;
            z-index: 10;
            min-width: 225px;

            .dropdownItem {
                display: flex;
                align-items: center;
                padding: 6px 1rem 6px 1.5rem;
                cursor: pointer;
                color: var(--color-text-dark);

                &:hover {
                    background-color: rgba(140, 206, 245, 0.675);
                }

                .shortcut {
                    margin-left: auto;
                }
            }
        }

    }

    textarea {
        flex: 1;
        height: 100%;
        resize: none;
        border: none;
        overflow-y: scroll;
        font-size: 16px;
        line-height: 1.2;

        font-family: 'Consolas';
        letter-spacing: -1px;
        font-weight: 100;

        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-track {
            background: rgb(238, 238, 238);
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(199, 199, 199);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgb(160, 160, 160);
        }

        &:focus {
            outline: none;
        }
    }

    .info {
        padding: 0 0.5rem;
        height: 20px;

        display: flex;
        align-items: center;

        background-color: rgb(238, 238, 238);
        border-top: 1px solid rgb(199, 199, 199);
    }
}
